html,
body,
#root {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Monaco, Consolas,
    'Liberation Mono', monospace;
}

